@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kayyali's First Project fe 7yato</h1>
    <p>Ahlan :D i finished my mvc course finally :D</a></p>
    <p>Feel free to have a look on my website and tell me if u have any improvments to make :D</a></p>
</div>
