@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>ew3a tsr2 al webpage bta3ty ya 7ramy da t3b copyrights to MohamedKayyali :D bhzr esr2o bra7tk h3ml 10 8ero</p>
<p>mfrod saf7a de aw3yk w a2olk eny hst5dm al cookies bta3tk w keda bs mt2l2sh y3ny enta a5oya mesh ha hackerk b2zn allah ela lw 2lyt m3aya :*</p>
